html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: white;
  background-color: #080208;
  background-image: url("dark-img/dark-bg.jpg");
  background-size: auto 1100px;
  background-repeat: no-repeat;
  background-position: top center;
}

.light-theme {
  background-color: #D9D9D9;
  background-image: url("dark-img/light-bg.png");
  background-size: auto 920px;
  color: black;
}

.light-theme .hero-image {
  color: white;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 180px;
  padding: 32px 0 32px;
}

.light-theme .page-header {
  margin: 0 0 0px;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a {
  margin-left: 56px;
  color: #fea18d;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {
  padding-left: 30px;
  background-image: url("dark-img/icon-email.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("dark-img/icon-phone.svg");
}

.theme-button {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center

}

.themes {
  cursor: pointer;
  width: 45px;
  height: 42px;
  border: none;
  background-image: url('dark-img/icon-light.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 45px;
  background-color: rgba(141, 175, 240, 0);
  transition: all 100ms;
}

.themes:hover {
  transform: scale(1.1);
}

.light-theme .themes {
  background-image: url('dark-img/icon-dark.svg');
}

.theme-button p {
  font-weight: lighter;
  margin-left: 5px;
}

.hero-image {
  margin-bottom: 480px;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 24px;
  font-size: 80px;
  line-height: 96px;
}

.light-theme .hero-image {
  margin-bottom: 660px;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.user-image img {
  border-radius: 5%
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("dark-img/icon-html.svg");
}

.skill-css {
  background-image: url("dark-img/icon-css.svg");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 16px;
  font-size: 0;
  background-color: #747474;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}


.level div {
  margin: 2px;
  height: 12px;
  background-color: #4136C1;
  border-radius: 6px;
}

.light-theme .level div {
  background-color: #FF5500;
}

.level-1 div {
  margin-top: 2px;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #4136C1;
  color: #ffffff;
  box-shadow:  0 0px 16px 8px rgba(65, 54, 193, 0.7);
  transition: box-shadow 100ms, background-color 100ms;
}

.light-theme .button{
  background-color: #FF5500;
  box-shadow: 0 0px 16px 8px rgba(255, 85, 0, 0.7);
}

.button:hover {
  background-color: #8A83E3;
  box-shadow: 0 0px 16px 8px rgba(138, 131, 227, 0.7);
}

.light-theme .button:hover {
  background-color: #FF9A67;
  box-shadow: 0 0px 16px 8px rgba(255, 154, 103, 0.7);
}

.page-footer {
  padding: 40px 0;
  background-color: #260c26;
}

.light-theme .page-footer{
  background-color: #747474;
}

.page-footer a {
  margin-left: 56px;
  color: #fea18d;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("dark-img/icon-email.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("dark-img/icon-phone.svg");
}

.up-button {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 75px;
  left: 65px;
}

.up-button span {
  margin-left: 10px;
  font-size: 16px;
  color: #8A83E3;
}

.light-theme .up-button span {
  color: #FF5500;
}

.back {
  cursor: pointer;
  font-size: 14px;
  width: 60px;
  height: 60px;
  border: none;
  background-image: url('dark-img/back-active.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 60px;
  background-color: rgba(141, 175, 240, 0.4);
  box-shadow: 0 0 16px 4px rgba(65, 54, 193, 0.7);
  border-radius: 50% ;
  transition: 100ms;
}

.light-theme .back {
  background-image: url('dark-img/back_l1.svg');
  box-shadow: 0 4px 16px 4px rgba(255, 85, 0, 0.7);
}

.back:hover {
  background-image: url('dark-img/back.svg');
  box-shadow: 0 0 16px 4px rgba(138, 131, 227, 0.7);
}

.light-theme .back:hover {
  background-image: url('dark-img/back_l2.svg');
  box-shadow: 0 4px 16px 4px rgba(255, 154, 103, 0.7);
}

.shown {
  display: flex;
  align-items: center;
}
